@model RestaurantReviews.Models.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Reviews</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
